/*--------------------------------------------------------------
## FunFact
--------------------------------------------------------------*/
.tb-funfact.tb-style1 h3 {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tb-funfact.tb-style1 h3 span {
  display: inline-block;
  line-height: 19px;
}

.tb-funfact.tb-style1:hover h3 {
  color: #5752d0;
}

.tb-feature-list li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 40px;
}

.tb-feature-list li:last-child {
  margin-bottom: 0;
}

.tb-feature-list li img {
  width: 22px;
  position: absolute;
  left: 0;
  top: 2px;
}
