{% load i18n widget_tweaks %}

{% language  code  %}
<p class="modal-title text-center">{% trans "APP Contact" %}</p>
<p style="padding-bottom: .5cm;"></p>                    
                          
<form id="contact" method="post" class="form-horizontal" action="{% url 'partner:contact-add'%}"> 
{% csrf_token %}
<div class="form-group row">
    <label for="Category" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Title"  %}:</label>
    <div class="col-sm-9">
    {{ form.Category }}
    </div>
    <p style="color: red">{{ form.Category.errors }} </p> 
</div>
<div class="form-group row">
    <label for="Name" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Name"  %}:</label>
    <div class="col-sm-9">
    {{ form.Name }}
    </div>
    <p style="color: red">{{ form.Name.errors }} </p> 
</div>

<div class="form-group row">
    <label for="Address" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Address"  %}:</label>
    <div class="col-sm-9">
    {{ form.Address }} 
    </div>
    <p style="color: red">{{ form.Address.errors }} </p> 
</div>

<div class="form-group row">
    <label for="Zip_Code" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Zip Code"  %}:</label>
    <div class="col-sm-9">
    {{ form.Zip_Code }}
    </div>
    <p style="color: red">{{ form.Zip_Code.errors }} </p> 
</div>

<div class="form-group row">
    <label for="Country" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Country"  %}:</label>
    <div class="col-sm-9">
    {{ form.Country }}
    </div>
    <p style="color: red">{{ form.Country.errors }} </p> 
</div>

<div class="form-group row">
    <label for="email" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "E-mail"  %}:</label>
    <div class="col-sm-9">
    {{ form.email }}
    </div>
    <p style="color: red">{{ form.email.errors }} </p> 
</div>

<div class="form-group row">
    <label for="Telephone" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Telephone"  %}:</label>
    <div class="col-sm-9">
    {{ form.Telephone }}
    </div>
    <p style="color: red">{{ form.Telephone.errors }} </p> 
</div>

<div class="form-group row">
    <label for="Language1" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Language 1"  %}:</label>
    <div class="col-sm-9">
    {{ form.Language1 }}
    </div>
    <p style="color: red">{{ form.Language1.errors }} </p> 
</div>

<div class="form-group row">
    <label for="Language2" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Language 2"  %}:</label>
    <div class="col-sm-9">
    {{ form.Language2 }}
    </div>
    <p style="color: red">{{ form.Language2.errors }} </p> 
</div>

<div class="form-group row">
    <label for="Observations" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Observations"  %}:</label>
    <div class="col-sm-9">
    {{ form.Observation }}
    </div>
    <p style="color: red">{{ form.Observation.errors }} </p> 
</div>

<input type="submit" value = "{% trans 'Add' %}" class="btn btn-green btn-block">
</form>
<p style="padding-bottom: .5cm;"></p>
{% endlanguage %}

<script>
    
var form_options = {
    target: '#generic-modal-body-body',
}


$('#contact').ajaxForm(form_options);
</script>