{% load i18n widget_tweaks %}

{% language  code  %}
<p class="modal-title text-center">{% trans "Add App covered local" %}</p>
<p style="padding-bottom: .5cm;"></p>                    
                          
<form id="contact" method="post" class="form-horizontal" action="{% url 'partner:local-add'%}"> 
{% csrf_token %}
<div class="form-group row">
    <label for="Country" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Country"  %}:</label>
    <div class="col-sm-9">
    {{ form.Country }}
    </div>
    <p style="color: red">{{ form.Country.errors }} </p> 
</div>

<div class="form-group row">
    <label for="DistrictRegion" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Distric/tRegion"  %}:</label>
    <div class="col-sm-9">
    {{ form.DistrictRegion }} 
    </div>
    <p style="color: red">{{ form.DistrictRegion.errors }} </p> 
</div>

<div class="form-group row">
    <label for="CityMunicipality" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "City/Municipality"  %}:</label>
    <div class="col-sm-9">
    {{ form.CityMunicipality }}
    </div>
    <p style="color: red">{{ form.CityMunicipality.errors }} </p> 
</div>

<div class="form-group row">
    <label for="ServiceCategory" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Service category"  %}:</label>
    <div class="col-sm-9">
    {{ form.ServiceCategory }}
    </div>
    <p style="color: red">{{ form.ServiceCategory.errors }} </p> 
</div>

<input type="submit" value = "{% trans 'Add' %}" class="btn btn-green btn-block">
</form>
<p style="padding-bottom: .5cm;"></p>
{% endlanguage %}

<script>
    
var form_options = {
    target: '#generic-modal-body-body',
}


$('#contact').ajaxForm(form_options);
</script>