{% load i18n widget_tweaks %}

{% language  code  %}
<p class="modal-title text-center">{% trans "Sign UP for ride" %}</p>
                                      
<form id="client_signup" method="post" class="form-horizontal" action="{% url 'partner:client_signup' %}"> 
{% csrf_token %}
{% for field in form %}
    <div class="form-group">
    {{ field }}
    {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
    {% endfor %}
    </div>
{% endfor %}

<input type="submit" value = "{% trans 'Sign up' %}" class="btn btn-green btn-block">
</form>

{% endlanguage %}

<script>
    
var form_options = {
    target: '#form-modalSignup-body',
}


$('#client_signup').ajaxForm(form_options);
</script>