{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% get_available_languages as languages %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}

{% block styles %}

<style type="text/css">
    
    .navbar-custom {
        color: #FFFFFF;
        background-color: #133d06;
    }
    
    #customBtn {
          display: inline-block;
          background: white;
          color: #444;
          border-radius: 5px;
          border: thin solid #888;
          box-shadow: 1px 1px 1px grey;
          white-space: nowrap;
        }
        #customBtn:hover {
          cursor: pointer;
        }
        span.label {
          font-family: serif;
          font-weight: normal;
        }
        span.icon {
          background: url("{% static 'img/g-normal.png' %}") transparent 5px 50% no-repeat;
          display: inline-block;
          vertical-align: middle;
          width: 40px;
          height: 40px;
        }
        span.buttonText {
          display: inline-block;
          vertical-align: middle;
          padding-left: 40px;
          padding-right: 40px;
          font-size: 10px;
          font-weight: bold;
          /* Use the Roboto font that is loaded in the <head> */
          /*font-family: 'Roboto', sans-serif;*/
        }
    
        .custom {
            color: #FFFFFF;
            background-color: #133d06;
        }
    
        .custom-table {
            color: #FFFFFF;
            background-color: #133d06;
            margin-bottom: 1px;
            border: 1px solid transparent;
            border-radius: 4px;
            padding: 5px;
        }
        
    
        .custom-table-value {
            color: #050505;
            background-color: #aaeb60;
            margin-bottom: 1px;
            border: 1px solid transparent;
            border-radius: 4px;
            padding: 5px;
        }
    
        .custom-buton {
            margin-bottom: 1px;
            border: 1px solid transparent;
            border-radius: 4px;
            padding: 5px;
        }
    
    
    
    .panel {
      margin-bottom: 1px;
      background-color: #fff;
      border: 1px solid transparent;
      border-radius: 4px;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
              box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }
    .panel-body {
      padding: 15px;
    }
    .panel-heading {
      padding: 15px 20px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    .panel-heading > .dropdown .dropdown-toggle {
      color: inherit;
    }
    .panel-title {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 16px;
      color: inherit;
    }
    .panel-title > a {
      color: inherit;
    }
    
    .panel-flashy > .panel-heading {
      color: #ddd;
      background-color:  #133d06;
      border-color: #133d06;
    }
    .panel-flashy > .panel-title {
      color: #ddd;
    }
    
    .panel-sub > .panel-heading {
      color: #050505;
      background-color:  #2cad04;
      border-color: #2cad04;
    }
    .panel-sub > .panel-title {
      color: #050505;
    }
    
    .text-litle {
      font-size: 80%;
    }
    
    .text-big {
      font-size: 200%;
    }
    
    table,
    td {
        border: 1px solid #333;
    }

    thead,
    tfoot {
        background-color: #333;
        color: #fff;
    }
    
    @media only screen and (max-width: 900px) {
        .one{
            display: none;
        }
    }

    </style>
{% endblock %}

{% block content %}
<p style="padding-bottom: 1.5cm;"></p>
<p class="one" style="padding-bottom: .5cm;"></p>
<!-- dashboard content -->
<div class="page-wrapper panel-group" id="accordion">
    <div class="container">
        <p style="padding-bottom: .1cm;"></p>
        <div class="row">
            <div class="col-md-1"></div>
             <div class="col-md-10">
                <div class="container">
                    <!-- profile -->
                    <div class="panel panel-flashy">
                        
                        <div class="panel-heading" id="headingProfile">
                            <h4 class="panel-title text-center">
                                <a class="accordion-toggle" aria-expanded="true" data-toggle="collapse" href="#collapseProfile"  role="button">
                                    
                                        {% trans "Profile" %}
                                    
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div id="collapseProfile" class="panel-collapse collapse"   role="tabpanel" data-parent="#accordion">
                        <div class="panel-body">

                            <div class="form-group row">
                                <label for="email" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "E-mail"  %}:</label>
                                <div class="col-sm-7">
                                <input name="email" type="text" value="{{ user.email }}" style="width: 100%;" readonly> 
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="Name" class="col-sm-3 col-form-label" style="text-align: right;" >{% trans "Name"  %}:</label>
                                <div class="col-sm-7">
                                    <input name="Name" type="text" value="{{ partner.Name }}" style="width: 100%;" readonly>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="APP_description" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "APP description"  %}:</label>
                                <div class="col-sm-7">
                                    <textarea name="APP_description" style="width: 100%;" readonly>
                                        {{ partner.Observation }}
                                    </textarea> 
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="Address" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Address"  %}:</label>
                                <div class="col-sm-7">
                                    <input name="Address" type="text" value="{{ partner.Address }}" style="width: 100%;" readonly> 
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="City" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "City"  %}:</label>
                                <div class="col-sm-7">
                                    <input name="City" type="text" value="{{ partner.City }}" style="width: 100%;" readonly>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="Zip_Code" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Zip Code"  %}:</label>
                                <div class="col-sm-7">
                                    <input name="Zip_Code" type="text" value="{{ partner.Zip_Code }}" style="width: 100%;" readonly>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="Country" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Country"  %}:</label>
                                <div class="col-sm-7">
                                    <input name="Country" type="text" value="{{ partner.Country }}" style="width: 100%;" readonly> 
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="Language" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Language"  %}:</label>
                                <div class="col-sm-7">
                                    <input name="Language" type="text" value="{{ partner.Language }}" style="width: 100%;" readonly> 
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="Telephone" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Telephone"  %}:</label>
                                <div class="col-sm-7">
                                    <input name="Telephone" type="text" value="{{ partner.Telephone }}" style="width: 100%;" readonly>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="ITIN" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "ITIN"  %}:</label>
                                <div class="col-sm-7">
                                    <input name="ITIN" type="text" value="{{ partner.ITIN }}" style="width: 100%;" readonly> 
                                </div>
                            </div> 

                            <div class="form-group row">
                                <label for="Website" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Website"  %}:</label>
                                <div class="col-sm-7">
                                    <input name="Website" type="text" value="{{ partner.Website }}" style="width: 100%;" readonly> 
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="Google_play" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Google Play URL"  %}:</label>
                                <div class="col-sm-7">
                                    <input name="Google_play" type="text" value="{{ partner.Google_play }}" style="width: 100%;" readonly> 
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="Apple_store" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Apple Store URL"  %}:</label>
                                <div class="col-sm-7">
                                    <input name="Apple_store" type="text" value="{{ partner.Apple_store }}" style="width: 100%;" readonly> 
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="API_activated" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "API activated"  %}:</label>
                                <div class="col-sm-7">
                                    <input name="API_activated" type="text" value="{{ partner.API_activated }}" readonly> 
                            
                                    {% if not partner.API_activated %}
                                    <button  onclick="APIactivation()"  class="col btn btn-green text-litle custom-buton text-center">{% trans "API Activation" %}</button> 
                                    
                                    {% endif %}
                                </div>
                            </div>
                            {% if partner.API_activated %}
                                <div class="form-group row">
                                    <label for="API_Key" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "API key"  %}:</label>
                                    <div class="col-sm-7">
                                        <input name="API_Key" type="text" value="{{ partner.HashKey }}" style="width: 100%;" readonly> 
                                        
                                        {% if partner.API_test_mode %}
                                        <button  onclick="APIproduction()"  class="col btn btn-green text-litle custom-buton text-center">{% trans "Prodution mode activation" %}</button> 
                                        {% else %}
                                        <button  onclick="APItest()"  class="col btn btn-green text-litle custom-buton text-center">{% trans "Return to test mode activation" %}</button>                        
                                        {% endif %}
                                    </div>
                                </div>
                                {% if partner.API_test_mode %}
                                <div class="form-group row">
                                    <label for="test_mode" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Mode"  %}:</label>
                                    <div class="col-sm-7">
                                        <input name="test_mode" type="text" value="Test" style="width: 100%;" readonly> 
                                    </div>
                                </div>
                                {% else %}
                                <div class="form-group row">
                                    <label for="test_mode" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Mode"  %}:</label>
                                    <div class="col-sm-7">
                                        <input name="test_mode" type="text" value="Prodution" style="width: 100%;" readonly> 
                                    </div>
                                </div>
                                {% endif %}
                            {% endif %}


                            <div class="form-group row">
                                <label for="APP_domain" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "APP domain"  %}:</label>
                                <div class="col-sm-7">
                                    <input name="APP_domain" type="text" value="{{ partner.APP_domain }}" style="width: 100%;" readonly> 
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="webwooks_suroo" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Webwook used by suroo API"  %}:</label>
                                <div class="col-sm-7">
                                    <input name="webwooks_suroo" type="text" value="{{ partner.webwooks_suroo }}" style="width: 100%;" readonly> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-7"></div>
                                <div class="col-sm-3">
                                    <a href="{% url 'partner:profile-update' partner.pk %}"> <button type="button"   class="col btn btn-green btn-block noradius">{% trans "Update" %}</button></a> 
                                </div> 
                            </div>      
                        </div>
                    </div>

                    <div class="panel panel-flashy">
                        
                        <div class="panel-heading" id="headingLogin">
                            <h4 class="panel-title text-center">
                                <a class="accordion-toggle" aria-expanded="false" data-toggle="collapse" href="#collapseSatistics"  role="button">
                                    
                                        {% trans "Statistics" %}
                                    
                                </a>
                            </h4>
                        </div>
                    </div>

                    <div id="collapseSatistics" class="panel-collapse collapse"   role="tabpanel" data-parent="#accordion">
                        <div class="panel-body">
                            
                            <div class="form-group row">
                                <label for="rides_registered" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Number of Registered Rides"  %}:</label>
                                <div class="col-sm-2">
                                    <input name="rides_registered" type="number" value="{{ partner.NumberRegisteredRides }}" style="width: 100%;" readonly> 
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="rides_booked" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Number of Booked Rides"  %}:</label>
                                <div class="col-sm-2">
                                    <input name="rides_booked" type="number" value="{{ partner.NumberBookedRides }}" style="width: 100%;" readonly> 
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="rides_canceled" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Number of Canceled Rides"  %}:</label>
                                <div class="col-sm-2">
                                    <input name="rides_canceled" type="number" value="{{ partner.NumberCancedRides }}" style="width: 100%;" readonly> 
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="rides_completed" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Number of Completed Rides"  %}:</label>
                                <div class="col-sm-2">
                                    <input name="rides_completed" type="number" value="{{ partner.NumberCancedRides }}" style="width: 100%;" readonly> 
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="balance" class="col-sm-3 col-form-label" style="text-align: right;">{% trans "Balance"  %}:</label>
                                <div class="col-sm-2">
                                    <input name="balance" type="number" value="{{ partner.Balance }}" style="width: 100%;" readonly> 
                                </div>
                            </div>

                        </div>
                    </div>  

                    <div class="panel panel-flashy">
                        
                        <div class="panel-heading" id="headingContacts">
                            <h4 class="panel-title text-center">
                                <a class="accordion-toggle" aria-expanded="false" data-toggle="collapse" href="#collapseContacts"  role="button">
                                    
                                        {% trans "Business Contacts" %}
                                    
                                </a>
                            </h4>
                        </div>
                    </div>

                    <div id="collapseContacts" class="panel-collapse collapse"   role="tabpanel" data-parent="#accordion">
                        <div class="panel-body">
                            <table  style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th class="one">Telephone</th>
                                        <th class="one">Address</th>
                                        <th class="one">Zip_Code</th>
                                        <th class="one">Country</th>
                                        <th></th>
                                      </tr>
                                </thead>
                                <tbody>
                                    {% for pk, Category, Name, Email, Telephone, Address, Zip_Code, Country  in POCs %}
                                    
                                    <tr>
                                        <td>{{ Category }}</td>
                                        <td>{{ Name }}</td>
                                        <td>{{ Email }}</td>
                                        <td class="one">{{ Telephone }}</td>
                                        <td class="one">{{ Address }}</td>
                                        <td class="one">{{ Zip_Code }}</td>
                                        <td class="one">{{ Country }}</td>
                                        <td>
                                            <button onclick="EditContact( '{{ pk }}')"  class="btn btn-green  custom-buton noradius">{% trans "Edit" %}</button>
                                            <button onclick="DeleteContact( '{{ pk }}')"  class="btn btn-red  custom-buton noradius">{% trans "Delete" %}</button>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td>{% trans "Empty" %}</td>
                                     </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="col-2">
                                <a onclick="AddContact()" href="#"><button  class="btn btn-green btn-block noradius">{% trans "Add Contact" %}</button></a>
                            </div>
                        </div>
                    </div>  

                    <div class="panel panel-flashy">
                        
                        <div class="panel-heading" id="headingCoverage">
                            <h4 class="panel-title text-center">
                                <a class="accordion-toggle" aria-expanded="false" data-toggle="collapse" href="#collapseCoverage"  role="button">
                                    
                                        {% trans "APP service geographic coverage" %}
                                    
                                </a>
                            </h4>
                        </div>
                    </div>

                    <div id="collapseCoverage" class="panel-collapse collapse"   role="tabpanel" data-parent="#accordion">
                        <div class="panel-body">
        
                            <table id="tableCoverage" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Country</th>
                                        <th>Region/State</th>
                                        <th>District/Region</th>
                                        <th class="one">City/Municipality</th>
                                        <th class="one">Service Category</th>
                                        <th></th>
                                      </tr>
                                </thead>
                                <tbody>
                                    {% for pk, Country, DistrictRegion, CityMunicipality, ServiceCategory in AppCover %}
                                    
                                    <tr>
                                        <td>{{ Country }}</td>
                                        <td>{{ DistrictRegion }}</td>
                                        <td class="one">{{ CityMunicipality }}</td>
                                        <td class="one">{{ ServiceCategory }}</td>
                                        <td>
                                            <button onclick="EditLocal( '{{ pk }}')"  class="col btn btn-green custom-buton noradius">{% trans "Edit" %}</button>
                                            <button onclick="DeleteLocal( '{{ pk }}')"  class="col btn btn-red custom-buton noradius">{% trans "Delete" %}</button>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td>{% trans "Empty" %}</td>
                                     </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="col-2">
                                <a onclick="AddLocal()" href="#"><button  class="btn btn-green  btn-block noradius">{% trans "Add Local" %}</button></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel panel-flashy">
                        
                        <div class="panel-heading" id="headingTransactions">
                            <h4 class="panel-title text-center">
                                <a class="accordion-toggle" aria-expanded="false" data-toggle="collapse" href="#collapseTransactions"  role="button">
                                    
                                        {% trans "Transactions" %}
                                    
                                </a>
                            </h4>
                        </div>
                    </div>
                    
                    <div id="collapseTransactions" class="panel-collapse collapse"   role="tabpanel" data-parent="#accordion">
                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label for="startTransactions">Start date:</label>
                                    <input type="date" id="startTransactions" name="Transactions-start" value="{{ startdate }}">
                                </div>
                                <div class="col-sm-4">
                                    <label for="endTransactions">End date:</label>
                                    <input type="date" id="endTransactions" name="end-Transactions" value="{{ enddate }}">
                                </div>
                                <div class="col-sm-2" style="align-items: center; justify-content: center;">
                                    <button  onclick="searchTransactions()"  class="col btn btn-green  btn-block noradius">{% trans "Search" %}</button> 
                                </div>
                            </div> 
                            <table id="tableTransactions" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Operation Type</th>
                                        <th class="one">Settlement Date</th>
                                        <th class="one">Ride Id</th>
                                        <th>Booking Id</th>
                                        <th>Value</th>
                                        <th></th>
                                      </tr>
                                </thead>
                                <tbody>
                                    {% for pk, data, type, settle, ride, book, value in PaymentLog %}
                                    <tr>
                                        <td>{{ data }}</td>
                                        <td>{{ type }}</td>
                                        <td class="one">{{ settle }}</td>
                                        <td class="one">{{ ride }}</td>
                                        <td>{{ book }}</td>
                                        <td>{{ value }}</td>
                                        <td>
                                            <button onclick="viewTransation( '{{ pk }}')"  class="col btn btn-green custom-buton noradius">{% trans "View" %}</button> 
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td>{% trans "Empty" %}</td>
                                     </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>  

                    <div class="panel panel-flashy">
                        
                        <div class="panel-heading" id="headingRequests">
                            <h4 class="panel-title text-center">
                                <a class="accordion-toggle" aria-expanded="false" data-toggle="collapse" href="#collapseRequests"  role="button">
                                    
                                        {% trans "Requests" %}
                                    
                                </a>
                            </h4>
                        </div>
                    </div>

                    <div id="collapseRequests" class="panel-collapse collapse"   role="tabpanel" data-parent="#accordion">
                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label for="startRequests">Start date:</label>
                                    <input type="date" id="startRequests" name="Requests-start" value="{{ startdate }}">
                                </div>
                                <div class="col-sm-4">
                                    <label for="endRequests">End date:</label>
                                    <input type="date" id="endRequests" name="end-Requests" value="{{ enddate }}">
                                </div>
                                <div class="col-sm-2" style="align-items: center; justify-content: center;">
                                    <button  onclick="searchRequests()"  class="col btn btn-green  btn-block noradius">{% trans "Search" %}</button> 
                                </div>
                            </div> 
                            <table id="tableRequests" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Type</th>
                                        <th>Request</th>
                                        <th>IP</th>
                                        <th></th>
                                      </tr>
                                </thead>
                                <tbody>
                                    {% for pk, data, type, request, ip in EventLog %}
                                    <tr>
                                        <td>{{ data }}</td>
                                        <td>{{ type }}</td>
                                        <td>{{ request }}</td>
                                        <td>{{ ip }}</td>
                                        <td>
                                            <button onclick="viewRequest( '{{ pk }}')"  class="col btn btn-green custom-buton noradius">{% trans "View" %}</button> 
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td>{% trans "Empty" %}</td>
                                     </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>  
                    
                    <div class="panel panel-flashy">
                        
                        <div class="panel-heading" id="headingLogin">
                            <h4 class="panel-title text-center">
                                <a class="accordion-toggle" aria-expanded="false" data-toggle="collapse" href="#collapseLogin"  role="button">
                                    
                                        {% trans "Logins" %}
                                    
                                </a>
                            </h4>
                        </div>
                    </div>

                    <div id="collapseLogin" class="panel-collapse collapse"   role="tabpanel" data-parent="#accordion">
                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label for="startLogin">Start date:</label>
                                    <input type="date" id="startLogin" name="login-start" value="{{ startdate }}">
                                </div>
                                <div class="col-sm-4">
                                    <label for="endLogin">End date:</label>
                                    <input type="date" id="endLogin" name="end-start" value="{{ enddate }}">
                                </div>
                                <div class="col-sm-2" style="align-items: center; justify-content: center;">
                                    <button  onclick="searchLogin()"  class="col btn btn-green  btn-block noradius">{% trans "Search" %}</button> 
                                </div>
                            </div>    
                            <table id="tableLogin" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>IP</th>
                                        <th>Local</th>
                                        <th>country</th>
                                        <th></th>
                                      </tr>
                                </thead>
                                
                                <tbody>
                                    {% for pk, data, ip, local, country in AccessLog%}
                                    <tr>
                                        <td>{{ data }}</td>
                                        <td>{{ ip }}</td>
                                        <td>{{ local }}</td>
                                        <td>{{ country }}</td>
                                        <td>
                                            <button onclick="viewLogin( '{{ pk }}')"  class="col btn btn-green custom-buton noradius">{% trans "View" %}</button> 
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td>{% trans "Empty" %}</td>
                                     </tr>
                                    {% endfor %}
                                </tbody>
                                
                            </table>
                        </div>
                    </div>  
                </div>
            </div>

        </div>
    </div>
</div>


<script >

    function searchTransactions(){
        event.preventDefault();
        var start = document.getElementById('startTransactions').value;
        var end = document.getElementById('endTransactions').value;
        
        $('#tableTransactions').load('/partner/searchTransactions/'+start+'/'+end+'/', function () {
        });
        };
    
    function searchRequests(){
        event.preventDefault();
        var start = document.getElementById('startRequests').value;
        var end = document.getElementById('endRequests').value;
        
        $('#tableRequests').load('/partner/searchRequests/'+start+'/'+end+'/', function () {
        });
        };
    
    function searchLogin(){
        event.preventDefault();
        var start = document.getElementById('startLogin').value;
        var end = document.getElementById('endLogin').value;
         
        $('#tableLogin').load('/partner/searchLogin/'+start+'/'+end+'/', function () {
        });
        };
    
    function viewTransation(pk){
        event.preventDefault();
        $('#generic-modal-body-body').load('/partner/viewTransation/'+pk+'/', function () {
            $('#generic-modal').modal('toggle');
        });
        };

    function viewRequest(pk){
        event.preventDefault();
        $('#generic-modal-body-body').load('/partner/viewRequest/'+pk+'/', function () {
            $('#generic-modal').modal('toggle');
        });
        };

    function viewLogin(pk){
        event.preventDefault();
        $('#generic-modal-body-body').load('/partner/viewLogin/'+pk+'/', function () {
            $('#generic-modal').modal('toggle');
        });
        };
    
    function EditContact(pk){
        event.preventDefault();
        $('#generic-modal-body-body').load('/partner/contactUpdate/'+pk+'/', function () {
            $('#generic-modal').modal('toggle');
        });
        };
    
    function AddContact(){
        event.preventDefault();
        $('#generic-modal-body-body').load('/partner/contactAdd/', function () {
            $('#generic-modal').modal('toggle');
        });
        };

    function DeleteContact(pk){
        event.preventDefault();
        $('#generic-modal-body-body').load('/partner/contactDelete/'+pk+'/', function () {
            $('#generic-modal').modal('toggle');
        });
        };
    
    function EditLocal(pk){
        event.preventDefault();
        $('#generic-modal-body-body').load('/partner/localUpdate/'+pk+'/', function () {
            $('#generic-modal').modal('toggle');
        });
        };
    
    function AddLocal(){
        event.preventDefault();
        $('#generic-modal-body-body').load('/partner/localAdd/', function () {
            $('#generic-modal').modal('toggle');
        });
        };

    function DeleteLocal(pk){
        event.preventDefault();
        $('#generic-modal-body-body').load('/partner/localDelete/'+pk+'/', function () {
            $('#generic-modal').modal('toggle');
        });
        };

</script>

{% endblock %}
