{% load i18n widget_tweaks %}

{% language  code  %}
<p class="modal-title text-center">{% trans "Delete App covered local" %}</p>
<p style="padding-bottom: .5cm;"></p> 


<form method="POST" action="{% url 'partner:local-delete' object.pk %}">
{% csrf_token %}
<p class="modal-title text-center">{% trans 'Are you sure do you want to delete the covered local' %}</p>
<p></p>

<input type="submit" value = "{% trans 'DELETE' %}" class="btn btn-red btn-block">

<p style="padding-bottom: .5cm;"></p>
{% endlanguage %}