{% load static %}
{% load i18n %}

{% get_available_languages as languages %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}

<div class="navbar navbar-inverse navbar-fixed-top scrollclass" >
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand one" href="#"><img src="{% static 'img/head_logo.png'%}" alt="" class="user-img img-logo image-responsive" /></a>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'partner:client_dashboard' %}">HOME</a></li>
                <li><a href="{% url 'partner:profile-update' partner.pk %}">PROFILE</a></li>
                <li class="dropdown">
                    <a id="select-lang" href="#" class="dropdown-toggle text-light" data-toggle="dropdown" role="button" aria-expanded="false" style="text-transform: capitalize;"> {{ lang.name_local }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for lang_code, lang_name in languages %}
                                {% language lang_code %}
                                <li><a  href="#" onclick="setlang('{{ lang_code }}')">{{ lang_name }}</a></li>
                                
                                {% endlanguage %}
                            {% endfor %}
                        </ul>
                </li>
                <li> <a id="Login-button" class="btn btn-outline-primary my-2 my-sm-0" type="button">{% trans "LOG OUT" %}</a></li>
            </ul>
        </div>
       
    </div>
</div>
	
  <div id="generic-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
                <div class="modal-header">
                    <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-right">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                                        
                <div id="generic-modal-body" class="modal-body">
                    <div class="container-fluid">
  

                            <div id="generic-modal-body-body">
                                <p>One fine body&hellip;</p>
                            </div>
                            
                            <p style="padding-bottom: 0.2cm;"></p>
                    </div>
                </div>
             </div>
    </div>
  </div> 
{% block extra_js %}
<!-- script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha512-YUkaLm+KJ5lQXDBdqBqk7EVhJAdxRnVdT2vtCzwPHSweCzyMgYV/tgGF4/dCyqtCC2eCphz0lRQgatGVdfR0ww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/js/bootstrap.min.js" integrity="sha512-vyRAVI0IEm6LI/fVSv/Wq/d0KUfrg3hJq2Qz5FlfER69sf3ZHlOrsLriNm49FxnpUGmhx+TaJKwJ+ByTLKT+Yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script !-->

<!-- script src="https://code.jquery.com/jquery-2.1.3.min.js"></script -->
<script src="{% static 'js/popper.min.js'%}"></script>
<script src="{% static 'js/jquery.min.js'%}"></script>

<script src="{% static 'js/jquery.form.min.js'%}"></script>
<script src="{% static 'js/tether.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.easing.min.js'%}"></script>
<script src="{% static 'js/owl.carousel.min.js'%}"></script>
<script src="{% static 'js/wow.min.js'%}"></script>   
<script >


function setlang(code) {
    $.ajax({                       
            url: '/ajax/setlang/', 
            data: {
            'lang_code': code,
            },
            success: function (data) { 
                setTimeout(function(){
                    window.location = ".";
                },100);
            }
        })
}

$('#Login-button').click(function(event) {
        $.ajax({                       
            url: '/partner/logout/', 
            success: function (data) {   
                window.location='/';
            }
        })
});

</script>

{% endblock extra_js %}