{% load i18n widget_tweaks %}

{% language  code  %}

<div class="container">
    <div class="row">
            <form method="post" class="form-horizontal" 
             action="{% url 'partner:password_change' %}"
             id="pwform"
            >     
                {% csrf_token %}                         	
                <div class="form-group row mt-2 mb-2">
                    <label for="oldPassword" class="col-sm-3 col-form-label">{% trans "Old Password:" %}</label>
                    <div class="col">
                        {{ form.old_password }}
                        <p style="color: red">{{ form.old_password.errors | escape }}</p> 
                    </div>
                </div>
                <div class="form-group row mt-2 mb-2">
                    <label for="newPassword" class="col-sm-3 col-form-label">{% trans "New Password:" %}</label>
                    <div class="col">
                        {{ form.new_password1 }}
                        <p style="color: red">{{ form.new_password1.errors | escape }}</p> 
                    </div>
                </div>
                <div class="form-group row mt-2 mb-2">
                    <label for="confirmnewPassword" class="col-sm-3 col-form-label">{% trans "Confirm Password:" %}</label>
                    <div class="col">
                        {{ form.new_password2 }}
                        <p style="color: red">{{ form.new_password2.errors | escape }}</p> 
                    </div>
                </div>
                <div class="form-group row mt-2 mb-2">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-3 ">
                            <button type="submit" class="btn btn-gray btn-block noradius">{% trans "Update Password" %}</button>
                    </div>
                </div>
            </form>
    </div> 
</div>
{% endlanguage %}

<script>
var form_options = {
    target: '#generic-modal-body-body',
}
$('#pwform').ajaxForm(form_options);
</script>