{% load static %}
{% load i18n %}

{% get_available_languages as languages %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}

<table id="tableTransactions" style="width:100%">
    <thead>
        <tr>
            <th>Date</th>
            <th>Operation Type</th>
            <th>Settlement Date</th>
            <th>Ride Id</th>
            <th>Booking Id</th>
            <th>Value</th>
            <th></th>
          </tr>
    </thead>
    <tbody>
        {% for pk, data, type, settle, ride, book, value in PaymentLog %}
        <tr>
            <td>{{ data }}</td>
            <td>{{ type }}</td>
            <td>{{ settle }}</td>
            <td>{{ ride }}</td>
            <td>{{ book }}</td>
            <td>{{ value }}</td>
            <td>
                <button onclick="viewTransation( '{{ pk }}')"  class="col btn btn-green text-litle custom-buton text-center">{% trans "View" %}</button> 
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>{% trans "Empty" %}</td>
         </tr>
        {% endfor %}
    </tbody>
</table>