{% load static %}
{% load i18n %}

{% get_available_languages as languages %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}

<table id="tableLogin" style="width:100%">
    <thead>
        <tr>
            <th>Date</th>
            <th>IP</th>
            <th>Local</th>
            <th>country</th>
          </tr>
    </thead>
    
    <tbody>
        {% for data, ip, local, country in AccessLog%}
        <tr>
            <td>{{ data }}</td>
            <td>{{ ip }}</td>
            <td>{{ local }}</td>
            <td>{{ country }}</td>

        </tr>
        {% empty %}
        <tr>
            <td>{% trans "Empty" %}</td>
         </tr>
        {% endfor %}
    </tbody>
    
</table>