{% load static %}
{% load i18n %}

{% get_available_languages as languages %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}

<div class="container">
    <div class="form-group row">
        <label for="Registration" class="col-sm-2 col-form-label" style="text-align: right;">{% trans "Date"  %}:</label>
        <div class="col-sm-10">
        <input name="Registration" type="text" value="{{ item.added_on }}"  readonly> 
        </div>
    </div>
    <div class="form-group row">
        <label for="Type" class="col-sm-2 col-form-label" style="text-align: right;">{% trans "Event Type"  %}:</label>
        <div class="col-sm-10">
        <input name="Type" type="text" value="{{ item.method }}" readonly> 
        </div>
    </div>
    <div class="form-group row">
        <label for="api" class="col-sm-2 col-form-label" style="text-align: right;">{% trans "API"  %}:</label>
        <div class="col-sm-10">
        <input name="api" style="size-adjust: 100%;" type="text" value="{{ item.api }}" readonly> 
        </div>
    </div>
   
    <div class="form-group row">
        <label for="headers" class="col-sm-2 col-form-label" style="text-align: right;">{% trans "Headers"  %}:</label>
        <div class="col-sm-10">
            <textarea name="headers" readonly>
                {{ item.headers }}
            </textarea> 
        </div>
    </div>

    <div class="form-group row">
        <label for="body" class="col-sm-2 col-form-label" style="text-align: right;">{% trans "Body"  %}:</label>
        <div class="col-sm-10">
            <textarea name="body" readonly>
                {{ item.body }}
            </textarea> 
        </div>
    </div>

    <div class="form-group row">
        <label for="client_ip_address" class="col-sm-2 col-form-label" style="text-align: right;">{% trans "IP address"  %}:</label>
        <div class="col-sm-10">
        <input name="client_ip_address" type="text" value="{{ item.client_ip_address }}"  readonly> 
        </div>
    </div>

    <div class="form-group row">
        <label for="Response" class="col-sm-2 col-form-label" style="text-align: right;">{% trans "Response"  %}:</label>
        <div class="col-sm-10">
            <textarea name="Response" readonly>
                {{ item.response }}
            </textarea> 
        </div>
    </div>

    <div class="form-group row">
        <label for="status_code" class="col-sm-2 col-form-label" style="text-align: right;">{% trans "Status code"  %}:</label>
        <div class="col-sm-10">
        <input name="status_code" type="text" value="{{ item.status_code }}"  readonly> 
        </div>
    </div>
    <div class="form-group row">
        <label for="execution_time" class="col-sm-2 col-form-label" style="text-align: right;">{% trans "Execution time"  %}:</label>
        <div class="col-sm-10">
        <input name="execution_time" type="text" value="{{ item.execution_time }}"  readonly> 
        </div>
    </div>
</div>